@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-lora: "Lora";
  --font-trirong: "Trirong", serif;
}

/* Mobile styles (max-width: 678px) */
@media only screen and (max-width: 678px) {
  .Desktop_only {
    display: none !important;
  }

  .shopify-section {
    overflow-x: hidden;
  }

  .product_judge-outer {
    padding: 32px 0;
  }

  #shopify-section-template--27607240409431__info2 .product_judge-outer {
    padding-bottom: 0;
  }
}

/* Desktop styles (min-width: 678px) */
@media only screen and (min-width: 678px) {
  .Mobile_only {
    display: none !important;
  }
}

/* Larger screens (min-width: 750px) */
@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

/* Larger screens (min-width: 768px) */
@media (min-width: 768px) {
  :root {
    --kaching-cart-font-size-scale: 1;
  }
}

/* Larger screens (min-width: 769px) */
@media (min-width: 769px) {
  #frontrow-sticker {
    top: 20px;
  }
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / 1);
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 400;
}

.focus-none {
  box-shadow: none !important;
  outline: 0 !important;
}

#frontrow-sticker {
  width: 437px;
}

@media (prefers-reduced-motion: no-preference) and (hover: hover) {
  :root {
    --easter-egg: none;
    --sparkle: url(./sparkle.gif);
  }
}

body,
.color-scheme-1,
.color-scheme-2,
.color-scheme-3,
.color-scheme-4,
.color-scheme-5 {
  color: rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: Trirong, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: calc(1 * 0.06rem);
  color: rgb(0, 0, 0);
  line-height: calc(1 + 0.3 / max(1, 1));
  word-break: break-word;
}
